.title {
  margin-bottom: 1rem;
}

.average {
  display: flex;
  justify-content: flex-end;
}

.table td {
  vertical-align: middle;
}

.buttons {
  display: flex;
}

.btn-danger {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1200px) {

  .title {
    margin-bottom: 0;
  }

  .average {
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {

  .buttons {
    flex-direction: column;
  }

  .btn-danger {
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }
}
